@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');




a{
    color:inherit;
    text-decoration: none;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

body {
    cursor: default;
}


:root {
    --green-color: #064403;
    --defaultgold-color: #ffbf00;
    --gold-color:#b5822c;
    --lightgold-color:#fff7eb;
    --white-color: white;
    --fadedgold: #f5d189;
    --fade-out:rgb(255, 246, 246);
    --dark-main-color:rgb(20, 18, 8);
    --font-1:"Cormorant Garamond", serif;
    --font-2: "Raleway", sans-serif;
    --font-3: "Parisienne", cursive;
}

/*--------------------------CUSTOM CURSOR------------------*/


#custom-cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    background-color: gold;
    border-radius: 50%;
    pointer-events: none;
    transition: width 0.2s, height 0.2s;
    z-index: 1000;
    opacity: 0;
    transform: translate(-50%, -50%);
    
}

a:hover #custom-cursor,
button:hover #custome-cursor,
input [type="button"]:hover #custom-cursor,
input [type="submit"]:hover #custom-cursor {
    width: 50px;
    height: 50px;
    background-color: rgba(255, 217, 0, 0.714); 
    backdrop-filter: blur(5px); 
    
}




/*--------------------------HEADER------------------*/


/* #head {
    background-color: white;
    border-bottom: 2px solid rgba(128, 128, 128, 0.171);
    width: 100%;
    height: 120px;
} */

#head {
    background-color: white;
    border-bottom: 2px solid rgba(128, 128, 128, 0.171);
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    z-index: 1;
    top: 0;
}

.hlogo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* padding: 20px; */
    width: 100%;
    
}

.menu-btns {
    position: relative;
    /* right: 0px; */
    z-index: 1;
    width: 30px;
    height: 30px;
    font-size: 35px;
    display: flex;
    justify-content: center;
    top: 20px;
    cursor: pointer;
    color: var(--gold-color);
    padding-right: 5px;
}

.hcontent {
    position: relative;
    padding-left: 5px;
}

.hcontent img {
    width: 150px;
}

.hide {
    display: none;
    z-index: 1;
}

.open {
    position: absolute;
}

#nav-bar {
    background-color: white;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    position: absolute;
    top: 120px;
    left: 0;
    right: 0;
}

.nav-link {
    display: flex;
    flex-direction: column;
}

.nav-link a {
    padding-left: 5px;
}

.navtext {
    padding: 15px 20px;
    border-bottom: 1px solid var(--gold-color);
    color: var(--dark-main-color);
    font-weight: 400;
    font-family: var(--font-2);
    font-size: 17px;
}

.service-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.service-list {
    padding-left: 5px;
    margin-top: 10px;
    display: none;
}

.service-list div {
    margin-bottom: 10px;
    color: var(--gold-color);
}

.service-list.show {
    display: block;
}

.service-list.hide {
    display: none;
}

.chevron-down {
    transform: rotate(90deg);
}

.service-menu {
    display: flex;
    flex-direction: column;
}

.service-menu .chevron {
    cursor: pointer;
    transition: transform 0.3s ease;
}




/*--------------------------INTRO------------------*/


#intro {
    display: flex;
    flex-direction: column;
    animation: fade-up 1s ease-out;
    margin-top: 120px;
}

@keyframes fade-up {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.intro1 {
    margin-top: 70px;
    padding-left: 25px;
    padding-right: 25px;
}

.intro1 span {
    font-family: var(--font-1);
    color: var(--gold-color);
}

.intro1 a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: var(--gold-color);
    transition: color 0.3s ease;
}

.intro1 h1{
    font-family: var(--font-1);
    font-size: 3.4em;
    color: var(--dark-main-color);
    margin-bottom: 20px;
    font-weight: bolder;
}

.intro1 h4 {
    font-family: var(--font-2);
    font-weight: 600;
    color: var(--gold-color);
    font-size: 1.0em;
    transition: color 0.3s ease;
}

.intro1 i {
    margin-left: 10px;
    position: relative;
    top: 2px;
    transition: color 0.3s ease;
}

.intro1 h4:hover {
    color: var(--dark-main-color);
}

.intro1 h4:hover i {
    color: var(--dark-main-color);
}




/*--------------------------HEROIMAGE-----------------*/



.hero {
    position: relative;
    width: 100%;
    height: 70vh; /* Full viewport height */
    overflow: hidden;
    background-color: var(--dark-main-color); /* Fallback color */
    margin-top: 50px;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.hero img.active {
    opacity: 1;
}

.hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Black overlay with reduced opacity */
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.hero .overlay h1 {
    color: white;
    font-size: 3em;
    font-family: var(--font-1);
    text-align: left;
    margin: 0;
    animation: fade-in 2s ease-in-out;
    padding-left: 25px;
    font-weight: 600;
    font-style: italic;
}


.hero .overlay p {
    color: var(--white-color);
    padding-left: 25px;
    font-family: var(--font-1);
    font-style: italic;
    font-size: 1.5em;
    margin-top: 20px;
    padding-right: 25px;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.bttn {
    display: none;
}




/*-----------------------------BUK------------------*/



.buk {
    background: var(--gold-color);
    margin-bottom: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.bukco {
    display: flex;
    color: var(--white-color);
    align-items: center;
}

.bukco i {
    margin-left: 10px;
    position: relative;
    top: 2px;
}




/*-------------------SELECTED CLIENTS-------------*/

#clnt {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    text-align: center;
}



.clnt1 {
    padding-left: 25px;
    padding-right: 25px;
}


.clnt1 h5 {
    font-family: var(--font-3);
    font-size: 1.5em;
    color: var(--gold-color);
    margin-bottom: 20px;
}

.clnt1 p{
    font-family: var(--font-1);
    font-weight: 500;
    margin-bottom: 30px;
    font-size: 1.2em;
}


.slider {
    position: relative;
    width: 100%;
    height: 100px;
    overflow: hidden;

}

.slides {
    position: relative;
    width: 80%;
    height: 80%;
    left: 30px;
}

.slides img {
    text-align: center;
}

.slide {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.active {
    left: 0;
    opacity: 1;
}

.inactive {
    left: 100%;
    opacity: 0;
}



/*-------------------About Homepage-------------*/


#abt {
    display: flex;
    text-align: center;
    margin-top: 70px;
    overflow: hidden;
    justify-content: center;
}

.abt1 h6 {
    font-family: var(--font-3);
    color: var(--gold-color);
    font-size: 1.3em;
}

.abt1 h1{
    font-family: var(--font-1);
    font-weight: 900;
    padding-left: 6%;
    padding-right: 6%;
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--gold-color);
}

.abt1 p {
    font-size: 1em;
    padding-left: 5%;
    padding-right: 5%;
    line-height: 30px;
    color: var(--fade-out);
    margin-bottom: 30px;
}

.abt1 a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: var(--gold-color);
    transition: color 0.3s ease;
}

.abt1 h4 {
    margin-bottom: 50px;
}

.abt1 a i {
    margin-left: 10px;
    position: relative;
    top: 2px;
    transition: color 0.3s ease;
}

.abt1 a:hover {
    color: var(--dark-main-color);
}

.abt1 a:hover i {
    color: var(--dark-main-color);
}


.image-container {
    position: relative;
    width: 100%;
    margin-bottom: 110%; 
  }
  
  .wwdimage {
    position: absolute;
    width: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .wwdimage img {
    width: 100%;
  }
  
  .wwdimage.active {
    opacity: 1;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100%; */
    background: white;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.1s ease-in-out;
  }
  
  .flash {
    opacity: 1;
  }



  /*--------------------------RECORD------------------*/
  
#exp {
    background: var(--green-color);
    display: flex;
    flex-direction: column;
    height: 700px;
    margin-top: 50px;
}

.expt {
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 30px;
}

.expt h6 {
    color: var(--defaultgold-color);
    font-size: 1em;
    font-weight: 500;
}

.expt h1 {
    font-family: var(--font-1);
    color: var(--white-color);
    font-size: 2em;
}


.client-content h3 {
    margin-bottom: 10px;
    color: var(--white-color);
    font-size: 5em;
    font-weight: 400;
}

.client-content p {
    color: var(--white-color);
}



/*------------------------TESTY------------------*/

#testy {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.testii {
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.testii h6 {
    color: var(--gold-color);
    font-size: 1em;
    font-weight: 500;
}

.testii h1 {
    font-family: var(--font-1);
    color: var (--dark-main-color);
    font-size: 2em;
}



.testimonial-container {
    overflow: hidden;
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: auto;
}

.testimonial-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.box {
    min-width: 100%;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 4px;
    padding: 20px;
    box-sizing: border-box;
    text-align: left;
    /* margin: 0 10px; */
}

.box h4 {
    margin-top: 10px;
    margin-bottom: 20px;
    color: var(--gold-color);
}

.box p {
    line-height: 25px;
}



/*------------------------PROJECTS------------------*/


#pro {
    display: flex;
    background: var(--fadedgold);
    margin-top: 100px;
    overflow: hidden;
}

.pro1 {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding-left: 25px;
    padding-right: 25px;
}


.pro1 h6 {
    color: var(--gold-color);
    font-size: 1em;
    font-weight: 500;
    margin-bottom: 30px;
}

.pro1 h1 {
    font-family: var(--font-1);
    color: var (--dark-main-color);
    font-size: 2em;
    margin-bottom: 30px;
}



.father-category {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
    /* left: 40px; */
  }
  .category-section {
    position: relative;
    width: 340px;
    height: 350px;
    margin-bottom: 40px;
    overflow: hidden;
    background-color: black;
  }
  .image-container2 {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 0.4;
  }
  .image-container2 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
  }
  .image-container2 .image2 {
    opacity: 0;
    position: absolute;
    transform: scale(1.2);
  }
  .category-section:hover .image2 {
    opacity: 1;
  
    transform: scale(1);
  }
  .category-section:hover .image1 {
    opacity: 0;
    transform: scale(1.2);
  }

  .category-section h2 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    font-size: 24px;
    /* z-index: 1; */
    pointer-events: none;
    font-weight: 500;
  }

  .category-section button {
    /* margin-top: 10px; */
    padding: 10px 30px;
    font-size: 16px;
    left: 70px;
    cursor: pointer;
    border: 2px solid var(--gold-color);
    background: none;
    color: var(--white-color);
    transition: background-color 0.3s ease;
    position: absolute;
    top: 70%;
  }
  
  .category-section button:hover {
    background-color: var(--gold-color);
  }


.pro1 a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: var(--dark-main-color);
    transition: color 0.3s ease;
}

.pro1 h4 {
    margin-bottom: 50px;
}

.pro1 a i {
    margin-left: 10px;
    position: relative;
    top: 2px;
    transition: color 0.3s ease;
}

.pro1 a:hover {
    color: var(--gold-color);
}

.pro1 a:hover i {
    color: var(--gold-color);
}




/*-----------------BRIEF-----------------*/


#brief {
    position: relative;
    align-items: left;
    text-align: left;
    margin-top: 40px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 50px;
  }
  
  #brief h1 {
    font-weight: 300;
    color: var(--gold-color);
    margin-bottom: 20px;
    font-family: var(--font-1);
    font-size: 2em;
  }
  
  #brief p {
    line-height: 25px;
    color: var(--dark-main-color);
    font-size: 1em;
    
  }



  /*-------------------------------------WORKWITHUS----------------*/




  .wrk1 {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding-left: 25px;
    padding-right: 25px;
}


.wrk1 h6 {
    color: var(--gold-color);
    font-size: 1em;
    font-weight: 500;
    margin-bottom: 30px;
}

.wrk1 h1 {
    font-family: var(--font-1);
    color: var (--dark-main-color);
    font-size: 2em;
    margin-bottom: 30px;
}


.wrk1 a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: var(--gold-color);
    transition: color 0.3s ease;
}

.wrk1 h4 {
    margin-bottom: 50px;
}

.wrk1 a i {
    margin-left: 10px;
    position: relative;
    top: 2px;
    transition: color 0.3s ease;
}

.wrk1 a:hover {
    color: var(--dark-main-color);
}

.wrk1 a:hover i {
    color: var(--dark-main-color);
}



/*--------------------------FOOTER-------------*/



#foot {
    background: var(--gold-color);
    overflow: hidden;
}

.footbdy {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    padding-right: 25px;
    gap: 40px;
    margin-bottom: 40px;
}

.footlogo {
    margin-top: 70px;
}

.footlogo img {
    width: 60%;
}

.mnu {
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mnu a {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
}


.address {
    color: var(--white-color);
}

.address p {
    margin-bottom: 10px;
    font-size: 0.8em;
}

.address h4 {
    font-weight: 500;
}

.email {
    color: var(--white-color);
}

.email h4 {
    font-weight: 500;
    margin-bottom: 5px;
}

.email h3 {
    font-weight: 500;
    font-size: 1em;
}


/*-----------Newsletter on Footer-------*/


.newsletter-container {
    max-width: 400px;
    /* margin: 0 auto; */
    text-align: left;
}

.newsletter-container h2 {
    margin-bottom: 20px;
    font-size: 1em;
    color: var(--white-color);
    font-weight: 500;
}

.newsletter-form .input-box {
    margin-bottom: 15px;
}

.newsletter-form input[type="text"],
.newsletter-form input[type="email"] {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    font-size: 0.8em;
}

.newsletter-form input[type="text"]::placeholder,
.newsletter-form input[type="email"]::placeholder {
    color: #999;
}



.newsletter-form h4 {
   
    color: var(--white-color);
    font-weight: 600;
    display: inline-block;
}

.newsletter-form i {
    margin-left: 10px;
    position: relative;
    top: 2px;
    color: var(--white-color);
    transition: color 0.3s ease;
}

.newsletter-form h4:hover {
    color: var(--dark-main-color);
}

.newsletter-form i:hover  {
    color: var(--dark-main-color);
}


/* Notification boxes */
.notification-box {
    position: fixed;
    top: -100px; /* Initially hidden above the viewport */
    left: 50%;
    transform: translateX(-50%);
    background-color: #ff9800;
    color: #fff;
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 1000;
    transition: top 0.5s ease-in-out;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

/* Loading circle animation */
.loading-circle {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #ffffff;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Success box customization */
#successBox {
    background-color: #4CAF50;
}

/* Slide down and up */
.show-box {
    top: 20px; /* Slides the box into view */
}

.hide-box {
    top: -180px; /* Move the box fully out of view */
}
